.element__img {
  border-radius: 10px 10px 0px 0px;
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity, 1s;
}

.element__img:hover {
  cursor: pointer;
  opacity: 0.6;
}
