.page{
  background-color: #000;
  color: #fff;
  margin: auto;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
