.popup__input {
  margin: 0 0 30px 36px;
  padding: 0;
  width: 358px;
  height: 27px;
  border: 0;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 550px) {
  .popup__input {
    width: 238px;
    height: 32px;
    margin: 0 0 24px 22px;
  }
}
