.popup__input {
  margin: 0 0 30px 36px;
  padding: 0;
  width: 358px;
  height: 27px;
  opacity: 0.2;
  border: 0;
  border-bottom: 1px solid #000000;
}

.popup__input:last-of-type {
  margin: 0 0 0 36px;
}

@media screen and (max-width: 550px) {
  .popup__input {
    width: 238px;
    height: 27px;
    margin: 0 0 30px 22px;
  }

  .popup__input:last-of-type {
    margin: 0 0 0 22px;
  }
}
