.button__like {
  width: 22px;
  height: 19px;
  border: 0;
  background-image: url(../../../images/like-button.svg);
  background-size: 22px 19px;
  background-color: #fff;
}

.button__like:hover {
  opacity: 0.5;
}
