.profile {
  max-width: 880px;
  margin:auto;
  min-height: 120px;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  .profile {
    padding: 0 100px;
  }
}
@media screen and (max-width: 950px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .profile {
    padding: 0 50px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 0 19px;
  }
}
