.button_type_edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px 10px;
  margin-left: 18px;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .button_type_edit {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0;
    top: 9px;
    margin-left: 0;
    margin-top: 0;
  }
}
