.profile__status {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  padding: 0;
  margin: 16px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__status {
    margin: 8px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__status {
    font-size: 14px;
    line-height: 17px;
  }
}
