.popup__line {
  border-bottom: 1px solid #000;
  opacity: 0.2;
  width: 358px;
  margin: 0 0 30px 36px;
}

@media screen and (max-width: 550px) {
  .popup__line {
    width: 238px;
    margin: 0 0 30px 22px;
  }
}
