.elements {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .elements{
    width: calc(100% - 60px*2);
  }
}


@media screen and (max-width: 500px) {
  .elements {
    width: calc(100% - 19px*2);
  }
}
