.profile__avatar-container{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: opacity,1s;
  cursor: pointer;
  position: relative;
}

.profile__avatar-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/profile-avatar-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  opacity: 0;
  transition: opacity .4s, visibility .4s linear;
}

.profile__avatar-container:hover::after {
  visibility: visible;
  opacity: 1;
}
