.elements__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: repeat(auto-fill, 360px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
