.popup__submit-btn {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  margin: 48px 0 0 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border: 0;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}
