.footer {
  padding: 70px 200px 50px;
  max-width: 880px;
  margin:auto;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 70px 100px 50px;
  }
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 70px 50px 50px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 45px 19px 36px;
  }
}
