.like-button__img {
  background-image: url(../../../images/like-button.svg);
  width: 22px;
  height: 19px;
  margin: auto;
}

.like-button__img:hover {
  opacity: 0.7;
}

.like-button__img:active {
  opacity: 1;
  background-image: url(../../../images/like-button-active.svg);
}
